# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Python
- R
- Sql

Some of the popular languages that **Data Scientists** use are:
1. Python
2. R
3. Sql

Some of the commonly used libraries used by **Data Scientists** include:
1. Pandas
2. Matplotlip 
3. Numpy

| Data Science Tools |
| ------------------ |
| Jupyter Notebook   | 
| IBM Watson Studio  |
| R Studio           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Nhat Tien Phat Cao